@charset "utf-8";
body{max-width: 640px;margin:auto;}
/**login**/
.login_bg{background:url(../images/login_bg.png) no-repeat;width:100%;height: auto; background-size: 100% 100%;overflow: hidden;min-height: 736px;}
.login_ban{background-color: #f4ece7;border-radius: 5px;width:90%;margin: 40% 5%;box-shadow: 1px 4px 7px #696969;}
.login_ban h2{text-align: center;font-size: 18px;color: #545250;height: 70px;line-height: 70px;}

.login_content{background: #fff;width:90%;margin:0% 5%;border-radius: 5px;border: 1px solid #E1D8D2}
.login_content label{font-size:16px; color:#b8b8b8;float: left; text-align: center;float: left;width: 45px;height: 40px;line-height: 40px;}
.login_content input{height: 40px;line-height: 40px;width:80%;border:none;color: #828282;}
.login_submit{margin:15px 0;}
.login_submit input{background: #f0b13f;width:90%;margin:0% 5%;border-radius: 5px;border: 1px solid #f0b13f;height: 45px;line-height: 45px;color: #fff;font-size: 16px;letter-spacing: 5px;}

.login_forget{width: 90%;margin: 0% 5%;text-align: right;height: 50px;}
.login_forget a{font-size: 16px;color: #817F7E;}





